In [3]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')

#print (df.tail(3))
#print (df.head(3))
print (df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [20]:
## Read Headers
#print (df.columns)

## Read each column
#print(df[['Name', 'Type 1', 'HP']][0:5])

##Read Each Row
#print(df.iloc[0:4])

#for index, row in df.iterrows():
#    print(index, row['Name'])

#print(df.loc[df['Type 1'] == "Grass"])

## Read a specific location (R,C)
#print(df.iloc[2,1])

       #                   Name Type 1    Type 2   HP  Attack  Defense  \
0      1              Bulbasaur  Grass    Poison   45      49       49
1      2                Ivysaur  Grass    Poison   60      62       63
2      3               Venusaur  Grass    Poison   80      82       83
3      3  VenusaurMega Venusaur  Grass    Poison   80     100      123
48    43                 Oddish  Grass    Poison   45      50       55
..   ...                    ...    ...       ...  ...     ...      ...
718  650                Chespin  Grass       NaN   56      61       65
719  651              Quilladin  Grass       NaN   61      78       95
720  652             Chesnaught  Grass  Fighting   88     107      122
740  672                 Skiddo  Grass       NaN   66      65       48
741  673                 Gogoat  Grass       NaN  123     100       62

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
48        75       65     30           1      False
..       ...      ...    ...         ...        ...
718       48       45     38           6      False
719       56       58     57           6      False
720       74       75     64           6      False
740       62       57     52           6      False
741       97       81     68           6      False

[70 rows x 12 columns]

In [4]:
#standard deviations and other properties of data
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [5]:
df.sort_values(['Type 1', 'HP'], ascending = [1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

# Making Changes

In [6]:
#df['Total'] = df['HP'] + df['Attack'] + df['Defense']+ df['Sp. Atk']

#df = df.drop(columns=['Total'])

df['Total'] = df.iloc[:, 4:10].sum(axis=1)

cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]

df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [44]:
#df.to_csv('modified.csv', index=False)

#df.to_excel('modified.xlsx', index = False)

ModuleNotFoundError: No module named 'openpyxl'

# Filtering Data

In [7]:
#df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison')]

#new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
#new_df.reset_index(drop=True, inplace=True)

#new_df = df.loc[~df['Name'].str.contains('Mega')] #not is ~

import re

#new_df = df.loc[df['Type 1'].str.contains('fire|grass', flags = re.I, regex=True)]

new_df = df.loc[df['Name'].str.contains('^pi[a-z]*', flags = re.I, regex=True)]


new_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False

In [28]:
filt = df['Type 1'] == 'Water'
df.loc[filt]['Type 2'].value_counts()

Ground      10
Flying       7
Dark         6
Psychic      5
Rock         4
Ice          3
Grass        3
Fighting     3
Poison       3
Electric     2
Ghost        2
Fairy        2
Dragon       2
Steel        1
Name: Type 2, dtype: int64

In [46]:
filt = df['Type 1'] == 'Fire'
df.loc[filt]['Type 2'].str.contains('Fly').sum()

6

# Conditional Changes

In [8]:
#df.loc[df['Type 1'] == 'Flamer', 'Type 1'] = 'Fire'

df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True

df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [9]:
df = pd.read_csv('modified.csv')

In [81]:
#df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = ['Test 1', 'Test 2']
#df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,Test 1,Test 2
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,Test 1,Test 2
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,Test 1,Test 2
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,Test 1,Test 2
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,Test 1,Test 2
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,Test 1,Test 2
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,Test 1,Test 2

# Aggregate Statistics (Grouby)

In [13]:
#df.groupby(['Type 1']).mean().sort_values('HP', ascending = False)

#df.groupby(['Type 1']).sum()

df['count'] = 1

df.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

In [15]:
df['Type 1'].value_counts(normalize = True)

Water       0.14000
Normal      0.12250
Grass       0.08750
Bug         0.08625
Psychic     0.07125
Fire        0.06500
Electric    0.05500
Rock        0.05500
Dragon      0.04000
Ground      0.04000
Ghost       0.04000
Dark        0.03875
Poison      0.03500
Steel       0.03375
Fighting    0.03375
Ice         0.03000
Fairy       0.02125
Flying      0.00500
Name: Type 1, dtype: float64

In [126]:
import datetime

def round_time(dt, i_min):
    a, b = divmod(dt.minute, i_min)
    c = i_min * (a + round(b / i_min, 0))
    hours, minutes= divmod(c, 60)
    hours = datetime.timedelta(hours = hours)
    minutes = datetime.timedelta(minutes = minutes)
    return datetime.datetime(dt.year, dt.month, dt.day, dt.hour, 0, 0) + hours + minutes

raw_time = '2020/12/01 23:49:00'
time = datetime.datetime.strptime(raw_time, '%Y/%m/%d %H:%M:%S')
time = round_time(time, 20)
print(time)

2020-12-01 23:40:00

In [80]:
poketype = df.groupby(['Type 1'])
poketype.get_group('Water')
poketype['Type 2'].value_counts(normalize=True).loc['Bug']

Type 2
Flying      0.269231
Poison      0.230769
Steel       0.134615
Grass       0.115385
Rock        0.057692
Electric    0.038462
Fighting    0.038462
Fire        0.038462
Ground      0.038462
Ghost       0.019231
Water       0.019231
Name: Type 2, dtype: float64

In [37]:
poketype['Attack'].median().loc['Water']

72.0

In [82]:
poketype['Attack'].agg(['median', 'mean']).loc['Water']

median    72.000000
mean      74.151786
Name: Water, dtype: float64

In [52]:
poketype_secondary_flyer = poketype['Type 2'].apply(lambda x: x.str.contains('Fly').sum())
poketype_secondary_flyer

Type 1
Bug         14
Dark         5
Dragon       6
Electric     5
Fairy        2
Fighting     1
Fire         6
Flying       0
Ghost        2
Grass        5
Ground       4
Ice          2
Normal      24
Poison       3
Psychic      6
Rock         4
Steel        1
Water        7
Name: Type 2, dtype: int64

In [61]:
poketype_secondary = df['Type 1'].value_counts()
poketype_secondary

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [74]:
flyer_df = pd.concat([poketype_secondary_flyer, poketype_secondary], axis='columns', sort=False)
flyer_df.rename(columns={'Type 2': "No_of_Flyers", 'Type 1': 'Total_of_Type'}, inplace=True)
flyer_df['Percentage_Flyers'] = (flyer_df['No_of_Flyers'] / flyer_df['Total_of_Type'])*100
flyer_df.sort_values(by='Percentage_Flyers', ascending=False, inplace=True)
flyer_df

          No_of_Flyers  Total_of_Type  Percentage_Flyers
Normal              24             98          24.489796
Bug                 14             69          20.289855
Dragon               6             32          18.750000
Dark                 5             31          16.129032
Ground               4             32          12.500000
Fairy                2             17          11.764706
Fire                 6             52          11.538462
Electric             5             44          11.363636
Poison               3             28          10.714286
Psychic              6             57          10.526316
Rock                 4             44           9.090909
Ice                  2             24           8.333333
Grass                5             70           7.142857
Ghost                2             32           6.250000
Water                7            112           6.250000
Fighting             1             27           3.703704
Steel                1             27           3.703704
Flying               0              4           0.000000

# Working with large amounts of data

In [98]:
new_df = pd.DataFrame(columns=df.columns)

for df in pd.read_csv('modified.csv', chunksize = 5):
    results = df.groupby(['Type 1']).count()
    
    new_df = pd.concat([new_df, results])
    
new_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Fire,1,1,NaN,0,1,1,1,1,1,1,1,1,1
Grass,4,4,NaN,4,4,4,4,4,4,4,4,4,4
Fire,4,4,NaN,3,4,4,4,4,4,4,4,4,4
Water,1,1,NaN,0,1,1,1,1,1,1,1,1,1
Bug,2,2,NaN,0,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Fairy,1,1,NaN,0,1,1,1,1,1,1,1,1,1
Flying,2,2,NaN,2,2,2,2,2,2,2,2,2,2
Fire,1,1,NaN,1,1,1,1,1,1,1,1,1,1
Psychic,2,2,NaN,2,2,2,2,2,2,2,2,2,2
Rock,2,2,NaN,2,2,2,2,2,2,2,2,2,2

In [6]:
df2 = pd.read_csv('transfers.csv')
print (df2.tail(10))

            Link   PASID Ward_Code Bed_Code  Start_Bed_Dttm    End_Bed_Dttm  \
8916  ADE-463214  301308        MT    MT309    11/7/19 1:00   13/7/19 11:01
8917  ADE-348891  270940        MT    MT306    7/2/16 13:57    10/2/16 9:24
8918  ADE-454997  319290        MT    MT303   2/12/18 12:09   5/12/18 12:00
8919  ADE-454997  319290        DS     DS01  30/11/18 22:50   2/12/18 12:09
8920  ADE-442577  318116        MT    MT307   21/1/19 16:48   25/1/19 10:10
8921  ADE-348899  290303        MT    MT307   15/2/16 14:27   19/2/16 10:15
8922  ADE-491342  328908        DS     DS02  15/12/19 20:00  16/12/19 13:24
8923  ADE-348904  290305        MT    MT311    5/4/16 22:51     9/4/16 9:45
8924  ADE-425431  312716        DS     DS04   29/1/18 20:30   31/1/18 11:27
8925  ADE-491342  328908        MT    MT307  16/12/19 13:24  19/12/19 13:00

      Transfers Full Flow Code Current Flow Code 1st Level
8916          2          DS-MT             DS-MT        DS
8917          1             MT                MT        MT
8918          2          DS-MT             DS-MT        DS
8919          2          DS-MT                DS        DS
8920          1             MT                MT        MT
8921          1             MT                MT        MT
8922          2          DS-MT                DS        DS
8923          1             MT                MT        MT
8924          2          DS-MT                DS        DS
8925          2          DS-MT             DS-MT        DS